<section class="features">
  <div class="feature-card">
    <i class="fas fa-gamepad fa-3x icon" style="color: #6C63FF; margin-top: 20px;"></i>
    <h3>Jeu de Conjugaison</h3>
    <p>Défiez vos connaissances en conjuguant des verbes à différents temps et personnes, avec un système de points et de niveaux.</p>
    <button class="btn" (click)="navigateToGameConjugation()">Jouer Maintenant</button>
  </div>

  <div class="feature-card">
    <i class="fas fa-question-circle fa-3x icon" style="color: #6C63FF; margin-top: 20px;"></i>
    <h3>Quiz de Verbes</h3>
    <p>Testez vos connaissances avec des quiz dynamiques et mesurez vos compétences en conjugaison des verbes.</p>
    <a class="btn" (click)="navigateToquiz()">Jouer Maintenant</a>
  </div>
</section>


