<header>
  <div class="top-bar">
    <div class="logo">
      <h1>Bienvenue sur l'Application des Verbes Français</h1>
    </div>
    <nav class="options">
      <ul>
        <li><a routerLink="/games-home">Jeu de Conjugaison</a></li>
        <li><a routerLink="/consultation-conjugaison">Consultation de Conjugaison</a></li>
        <li><a routerLink="/quiz-verbes">Quiz de Verbes</a></li>
        <li><a routerLink="/application-educative">Application Éducative</a></li>
        <li><a (click)="logout()"><i class="fas fa-sign-out-alt logout-icon"></i></a></li> <!-- Utiliser l'icône logout -->
      </ul>
    </nav>
  </div>
</header>

