  header {
    background: linear-gradient(135deg, #6C63FF, #4CAF50);
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  header h1 {
    margin: 0;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background: linear-gradient(135deg, #6C63FF, #4CAF50);
    color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .logo h1 {
    margin: 0;
    font-size: 1.8rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }
  
  .options ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
  }
  
  .options ul li {
    position: relative;
  }
  
  
  .options a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
  }
  
  
  .options a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: none;
  }
  

  .logout-link {
    background-color: #FF5252;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: bold;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
    margin-left: 20px;
  }
  
  .logout-link:hover {
    background-color: #D32F2F;
    transform: scale(1.05);
    cursor: pointer;
  }

  .logout-link, .logout-icon {
    background-color: #FF5252;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: bold;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .logout-icon {
    background-color: #6C63FF;
    padding: 10px;
    border-radius: 30px;
    font-size: 1.2rem;
    transition: background-color 0.3s, transform 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .logout-link:hover {
    background-color: #D32F2F;
    transform: scale(1.05);
    cursor: pointer;
  }
  .logout-icon:hover {
    background-color: #4CAF50;
    transform: scale(1.05);
    cursor: pointer;
  }
  