<div id="container">
  <form (submit)="login()" [formGroup]="loginFormGroup">
     <h3>Sign In</h3>

     <mat-form-field appearance="fill">
        <mat-label>Email Adresse</mat-label>
        <input matInput formControlName="email" placeholder="Entrez votre email">
     </mat-form-field>

     <mat-form-field appearance="fill">
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Entrez votre mot de passe">
     </mat-form-field>

     <button mat-flat-button type="submit" [disabled]="loginFormGroup.invalid">Connect</button>

     <mat-error *ngIf="invalidCredentials">Vérifiez l'email ou le mot de passe</mat-error>

    
     <button mat-button type="button" (click)="navigateRegister()" class="register-button">Pas de compte? Inscrivez-vous</button>
  </form>
</div>
