html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Pour s'assurer que la hauteur minimale est la hauteur de la fenêtre */
  }
  
  .content {
    flex: 1; /* Pousse le footer en bas si le contenu n'est pas assez grand */
  }