<div id="container">
  <form (submit)="register()" [formGroup]="registerFormGroup">
     <h3>Register</h3>

     <mat-form-field appearance="fill">
        <mat-label>Email Adresse</mat-label>
        <input matInput formControlName="email" placeholder="Entrez votre email">
     </mat-form-field>

     <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="name" placeholder="Entrez votre nom">
     </mat-form-field>

     <mat-form-field appearance="fill">
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Entrez votre mot de passe">
     </mat-form-field>

     <button mat-flat-button type="submit" [disabled]="registerFormGroup.invalid">S'inscrire</button>

     <mat-error *ngIf="invalidCredentials">Email déjà utilisé</mat-error>

   
     <button mat-button type="button" (click)="navigateLogin()" class="login-button">Déjà inscrit? Connectez-vous</button>
  </form>
</div>
