#container{
   display:flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;
}

form{
   background-color: aliceblue;
   padding: 20px;
   border-radius: 10px;
   width: 400px;
   flex-direction: column;
   width: 400px;
   display: flex;
}

mat-error{
   text-align: center;
}