<header>
  <div class="top-bar">
    <div class="logo">
      <h1>Bienvenue sur l'Application des Verbes Français</h1>
    </div>
    <nav class="options">
      <ul>
        <li><a routerLink="/jeu-conjugaison">Jeu de Conjugaison</a></li>
        <li><a routerLink="/consultation-conjugaison">Consultation de Conjugaison</a></li>
        <li><a routerLink="/quiz-verbes">Quiz de Verbes</a></li>
        <li><a routerLink="/application-educative">Application Éducative</a></li>
        <li><a (click)="logout()"><i class="fas fa-sign-out-alt logout-icon"></i></a></li> <!-- Utiliser l'icône logout -->
      </ul>
    </nav>
  </div>
 </header>
 
<section class="hero">
  <div class="hero-content">
    <h2>Explorez et maîtrisez les verbes français</h2>
    <p>Notre application vous permet de découvrir, conjuguer et interagir avec des verbes français d'une manière facile et intuitive. Commencez dès maintenant et améliorez vos compétences linguistiques !</p>
    <a class="btn" (click)="navigateConjugation()" >Commencez Maintenant</a>
  </div>
</section>

<section id="features" class="features">
  <div id="jeu" class="feature-card">
    <i class="fas fa-gamepad fa-3x" style="color: #6C63FF; margin-top: 20px;"></i>
    <h3>Jeu de Conjugaison</h3>
    <p>Défiez vos connaissances en conjuguant des verbes à différents temps et personnes, avec un système de points et de niveaux.</p>
    <button class="btn">Jouer Maintenant</button>
  </div>

  <div id="consultation" class="feature-card">
    <i class="fas fa-book fa-3x" style="color: #6C63FF; margin-top: 20px;"></i>
    <h3>Consultation de Conjugaison</h3>
    <p>Consultez facilement la conjugaison complète de n'importe quel verbe français à tous les temps verbaux.</p>
    <button class="btn" (click)="navigateConjugation()">Consulter Maintenant</button>
  </div>

  <div id="quiz" class="feature-card">
    <i class="fas fa-question-circle fa-3x" style="color: #6C63FF; margin-top: 20px;"></i>
    <h3>Quiz de Verbes</h3>
    <p>Testez vos connaissances avec des quiz dynamiques et mesurez vos compétences en conjugaison des verbes.</p>
    <button class="btn">Commencer le Quiz</button>
  </div>

  <div id="educative" class="feature-card">
    <i class="fas fa-chalkboard-teacher fa-3x" style="color: #6C63FF; margin-top: 20px;"></i>
    <h3>Application Éducative</h3>
    <p>Apprenez la conjugaison des verbes avec des explications claires et des exemples interactifs.</p>
    <button class="btn">Découvrir</button>
  </div>
</section>

<footer>
  <p>&copy; 2024 Application des Verbes Français. Tous droits réservés.</p>
</footer>