<section class="hero">
  <div class="hero-content">
    <h2>Explorez et maîtrisez les verbes français</h2>
    <p>Notre application vous permet de découvrir, conjuguer et interagir avec des verbes français d'une manière facile et intuitive. Commencez dès maintenant et améliorez vos compétences linguistiques !</p>
    <a class="btn" (click)="navigateToConjugation()">Commencez Maintenant</a>
  </div>
</section>

<section id="features" class="features">
  <div id="jeu" class="feature-card">
    <i class="fas fa-gamepad fa-3x" style="color: #6C63FF; margin-top: 20px;"></i>
    <h3>Jeu de Conjugaison</h3>
    <p>Défiez vos connaissances en conjuguant des verbes à différents temps et personnes, avec un système de points et de niveaux.</p>
    <a class="btn" (click)="navigateToGamesHome()">Jouer Maintenant</a>

  </div>

  <div id="consultation" class="feature-card">
    <i class="fas fa-book fa-3x" style="color: #6C63FF; margin-top: 20px;"></i>
    <h3>Consultations des Verbes Favoris</h3>
    <p>Accédez rapidement à vos verbes favoris et consultez leurs conjugaisons complètes à tous les temps verbaux.</p>
    <button class="btn" (click)="navigateToAllFavorites()">Consulter Maintenant</button>
</div>


  <div id="educative" class="feature-card">
    <i class="fas fa-chalkboard-teacher fa-3x" style="color: #6C63FF; margin-top: 20px;"></i>
    <h3>Application Éducative</h3>
    <p>Apprenez la conjugaison des verbes avec des explications claires et des exemples interactifs.</p>
    <button class="btn">Découvrir</button>
  </div>
</section>
